[req]
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no

[req_distinguished_name]
countryName = IE
stateOrProvinceName = Leinster
localityName = Dublin
organizationName = InvizBox Ltd
commonName = inviz.box
emailAddress=support@invizbox.com

[v3_req]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid,issuer
basicConstraints = CA:TRUE
keyUsage = nonRepudiation, digitalSignature, keyCertSign, keyEncipherment, dataEncipherment, keyAgreement
extendedKeyUsage = serverAuth, clientAuth, codeSigning, emailProtection
subjectAltName = @alt_names

[alt_names]
DNS.1 = inviz.box
IP.1 = 10.154.0.1
IP.2 = 10.154.1.1
IP.3 = 10.154.2.1
IP.4 = 10.154.3.1
IP.5 = 10.154.4.1
IP.6 = 10.154.5.1
IP.7 = 10.154.6.1
IP.8 = 10.154.7.1
