[req]
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no

[req_distinguished_name]
countryName = IE
stateOrProvinceName = Leinster
localityName = Dublin
organizationName = InvizBox Ltd
commonName = inviz.box
emailAddress=support@invizbox.com

[v3_req]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid,issuer
basicConstraints = CA:TRUE
keyUsage = nonRepudiation, digitalSignature, keyCertSign, keyEncipherment, dataEncipherment, keyAgreement
extendedKeyUsage = serverAuth, clientAuth, codeSigning, emailProtection
subjectAltName = @alt_names

[alt_names]
DNS.1 = inviz.box
IP.1 = 10.153.146.1
IP.2 = 10.153.147.1
IP.3 = 10.153.148.1
